[submodule "sw-ui"]
	path = sw-ui
	url = https://github.com/khdevnet/sw-ui.git
[submodule "sw-products"]
	path = sw-products
	url = https://github.com/khdevnet/sw-products.git
[submodule "sw-checkout"]
	path = sw-checkout
	url = https://github.com/khdevnet/sw-checkout.git
